@import "../../mixins.scss";
.about {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fcfaf6;
  p {
    text-transform: uppercase;
    font-size: 13px;
    margin-top: 73px;
  }
  span {
    margin: 50px 0;
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    padding: 0px 20px;
    text-align: center;
    font-weight: 100;
    font-weight: lighter;
    font-family: system-ui;
  }
  @include md {
    span {
      font-size: 48px;
      padding: 0px 563px;
      margin: 68px 0;
      font-family: auto;
    }
  }
}
