@import "../../mixins.scss";
.product {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  .left {
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    @include md {
      width: 60%;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
    @include ml {
      flex-direction: column-reverse;
    }
    @include lg {
      flex-direction: row;
    }
    .img-card {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: row;
      flex-wrap: wrap;
      @include md {
        justify-content: flex-start;
        flex-direction: column;
      }
      @include ml {
        justify-content: flex-start;
        flex-direction: row;
      }
      @include lg {
        flex-direction: column;
        width: 20%;
      }
      img {
        width: 75px;
        height: 115px;
        object-fit: cover;
        margin: 10px 5px;
        border-radius: 3px;
        transition: all ease-in 0.1s;
        cursor: pointer;
        @include md {
          width: 100px;
          height: 140px;
        }
        &:hover {
          filter: brightness(0.75);
        }
      }
    }
    .slides {
      width: 100%;
      height: 700px;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        object-fit: cover;
        height: 100%;
        width: 100%;
        border-radius: 5px;
        user-select: none;
        @include md {
          width: auto;
          overflow: hidden;
        }
      }
      @include md {
        width: 80%;
      }
    }
  }
  .right {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    @include md {
      height: 100%;
      width: 40%;
    }
    .item {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      gap: 25px 0;
      height: 100%;
      margin-left: 10px;
      .title {
        font-size: 25px;
        font-weight: 600;
      }
      .subtitle {
        font-size: 15px;
        color: gray;
      }
      .price {
        font-size: 22px;
      }
      .size {
        width: 100%;
        display: flex;
        gap: 15px;
        flex-direction: column;
        p {
          text-transform: uppercase;
          font-size: 14px;
        }
        .input-tag {
          display: flex;
          gap: 10px;
          align-items: flex-start;
          @include md {
            gap: 25px;
          }
          input:checked + label {
            background: rgb(41, 41, 41);
            color: #fff;
          }
          label {
            border: 1px solid rgb(214, 214, 214);
            width: 40px;
            height: 30px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            &:hover {
              background: rgb(214, 214, 214);
            }
            @include md {
              width: 50px;
            }
          }
          [type="radio"] {
            display: none;
          }
        }
      }
      .class {
        margin-bottom: -20px;
        text-transform: uppercase;
        font-size: 14px;
      }
      .qunatity {
        display: flex;
        border: 1px solid #ccc;
        user-select: none;
        span {
          padding: 10px 13px;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .qun {
          padding: 10px 15px;
          font-size: 13px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      .btn-section {
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: flex-start;
        margin-top: 20px;
        flex-wrap: wrap;
        button {
          background: #000;
          color: #fff;
          padding: 15px 50px;
          border: none;
          cursor: pointer;
          transition: all 0.3s ease;
          text-transform: uppercase;
          font-weight: 700;
          letter-spacing: 1.2px;
          &:hover {
            background: rgb(87, 87, 87);
          }
          @include md {
            padding: 15px 95px;
          }
        }
        span {
          padding: 11px 14px;
          border: 1px solid #ccc;
          font-size: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          .heart {
            color: rgb(236, 28, 28);
          }
        }
      }
      .description {
        width: 100%;
        padding: 10px;
        @include md {
          width: 80%;
        }
        p {
          font-size: 14px;
          font-family: inherit;
        }
      }
    }
  }
  hr {
    width: 100%;
    @include md {
      width: 70%;
    }
  }
  .bottom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    margin-top: 20px;
    .content-container {
      width: 100%;
      background: #fcfaf6;
      height: 50vh;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      gap: 20px;
      @include md {
        width: 50%;
        align-items: flex-start;
        padding: 50px;
        gap: 30px;
      }
      h1 {
        font-size: 35px;
        font-family: initial;
      }
      p {
        width: 90%;
        font-family: inherit;
        @include md {
          width: 60%;
        }
      }
      button {
        background: #000;
        color: #fff;
        padding: 15px 30px;
        border: none;
        cursor: pointer;
        transition: all 0.3s ease;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 1.2px;
        &:hover {
          background: rgb(87, 87, 87);
        }
      }
    }
    img {
      width: 100%;
      object-fit: cover;
      height: 100%;
      @include md {
        width: 50%;
        height: 50vh;
      }
    }
  }
}
