@import "../../mixins.scss";
.attribute {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #fcfaf6;
  span {
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-width: 300px;
    .icon {
      font-size: 40px;
      color: rgb(44, 44, 44);
      margin: 25px 0;
    }
    h3 {
      font-size: 16px;
      margin: 7px 0;
      font-family: system-ui;
    }
    p {
      font-size: 14px;
    }
  }
}
